body a {
    text-decoration: none;
    color:initial;
}

body a:hover {
    text-decoration: none;
    color:initial;
}
#topbar {
    background-color: #333;
    height: 40px;
    width: 100%;
}
#topbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topbar a:hover {
    font-style: oblique;
}
#searchbar {
    padding-top: 2px;
    padding-left: 10px;
    margin-top: 10px;
    float: left;
    width: 20%;
    background-color: white;
}

#hometext {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}

#login {
    padding-right: 4px;
}

#logged_in {
    color: white;
    float: right;
    padding-right: 10px;
}

#profile_pic {
    float: right;
    margin-top: -4px;
    margin-right: 13%;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 25px;
    height: 25px;
    background: black;
    border: 3px solid black;
}

.addnews{
    margin: 0 0 -32px 0;
    font-size: small;
    color: wheat;
    overflow: overlay;
    width: 20%;
}

#user_menu {
    right: 0px;
    position: absolute;
    z-index: 100;
    border: groove;
    margin-top: -8px;
    margin-right: 4%;
    background-color: black;
}

#user_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#user_menu li {
    border-top: 1px solid #e2e2e2;
    padding: 0px 0px;
}

#user_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 35px;
    text-decoration: none;
}

.bullet{
    float:left;
    color:white;
}

#user_menu li a:hover {
    background-color: #111;
}
.hidden {
    display: none;
}

.newsitem {
    margin-right: 1%;
    border: 1px solid #808080;
    padding: 15px;
}

.newsitemimage {
    width: 100%;
    height: 150px;
    background-color: brown;
}

#advertisement{
    height:150px;
}
#newsmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#newsmenu li {
    float: left;
}

#newsmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#newsmenu li a:hover {
    background-color: #111;
}

.advelement{
    border:1px solid;
    height:150px;
}