<!DOCTYPE html>

<html>
<head>
    <title>NewsFront</title>
    <link rel="stylesheet" href="~/css/homestyle.css" />
    <link href="~/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap-3.3.6-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/js/lib/jquery-2.2.1.min.js"></script>
    <script src="~/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <script src="~/js/home/index.js" type="text/javascript"></script>
</head>
<body>
    <section id="topnav">
        <div id="topbar">
            <div id="hometext"><a href="/">NewsFront</a></div>
            <div id="searchbar" contenteditable="true">
                <div id="searchbar_content">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
            </div>
            <div id="login">
                <div id="profile_pic" class="circleBase type1"></div>
                <div id="logged_in">Mrinal</div>
            </div>
        </div>
        <div id="user_menu" class="hidden">
            <h3 class="hover_menu_title"></h3>
            <ul>
                <li><a class="hover_menu_item" href="/user/UserProfile">Profile</a></li>
                <li><a class="hover_menu_item" href="/user/UserProfile/blogs">Blogs</a></li>
                <li><a class="hover_menu_item" href="/messages">Messages</a></li>
                <li><a class="hover_menu_item" href="/reading_list">Reading List</a></li>
                <li><a class="hover_menu_item" href="/content">Your Content</a></li>
                <li><a class="hover_menu_item" href="/stats">Stats</a></li>
                <li><a class="hover_menu_item" href="/settings">Settings</a></li>
                <ul class="LegalNavLinks">
                    <li class="feedback"><a href="#" id="__w2_Qp9hUbA_send_feedback">Report a Bug</a></li>
                    <li><a href="/about">About</a><span class="bullet"> • </span><a href="/careers">Careers</a><span class="bullet"> • </span><a href="/about/privacy">Privacy</a></li>
                    <li>
                        <a href="/about/tos">Terms</a><span class="bullet"> • </span><ul class="logout">
                            <li class="logout"><form action="/login/logout_POST" method="POST" target="_top" id="__w2_DRmpm6g_logout_form"><input type="hidden" name="formkey" value="0099d3bef5e35853dba4eedce2c112bb"><input group="__w2_DRmpm6g_interaction" type="hidden" name="next" value="https://www.quora.com/India/What-is-your-opinion-of-Barkha-Dutts-open-letter-to-PM-Modi/answer/Mrinal-Saurabh?__snids__=1588769531&amp;__nsrc__=2" w2cid="DRmpm6g" id="__w2__u_sbde9sRM1H"><a class="logout" href="#" id="__w2_DRmpm6g_logout_link">Logout</a></form></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </section>
    <section id="advertisement" class="container">
        <div class="row">
            <div class="col-md-3 advelement">
                Here goes Adv. 1
            </div>
            <div class="col-md-5 advelement">
                Here goes Adv. 2
            </div>
            <div class="col-md-3 advelement">
                Here goes Adv. 3
            </div>
        </div>
    </section>
    <section id="newsmenu">
        <ul>
            <li><a href="/user/userprofile">Profile</a></li>
            <li><a href="/user/userprofile">Credits</a></li>
            <li><a href="/user/userprofile">Content</a></li>
            <li><a href="/user/userprofile">Notifications</a></li>
            <li><a href="/user/userprofile">Settings</a></li>
        </ul>
    </section>
    <div>
        @RenderBody()
    </div>
</body>
</html>
