<head>
    <link href="~/css/userlayout.css" rel="stylesheet" />
    <script src="~/js/User/UserProfile.js"></script>
</head>
<section id="profile_pic">
    
</section>
<section id="profile_info">
    <div id="user_details" class="userdetails">
        <div class="userstats col-md-7">
            <div class="posts col-md-3 statbox">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                <div class="statboxtext">
                    <div class="statnumber">27</div>
                    <div class="stattext">Articles</div>
                </div>
            </div>
            <div class="credits col-md-3 statbox">
                <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
                <div class="statboxtext">
                    <div class="statnumber">2700</div>
                    <div class="stattext">Credits</div>
                </div>
            </div>
            <div class="comments col-md-3 statbox">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <div class="statboxtext">
                    <div class="statnumber">50</div>
                    <div class="stattext">Comments</div>
                </div>
            </div>
            <div class="upvotes col-md-3 statbox">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <div class="statboxtext">
                    <div class="statnumber">1800</div>
                    <div class="stattext">Upvotes</div>
                </div>
            </div>
            <div class="downvotes col-md-3 statbox">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <div class="statboxtext">
                    <div class="statnumber">100</div>
                    <div class="stattext">Downvotes</div>
                </div>
            </div>
            <div class="followers col-md-3 statbox">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <div class="statboxtext">
                    <div class="statnumber">100</div>
                    <div class="stattext">Followers</div>
                </div>
            </div>
            <div class="readinglist col-md-3 statbox">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                <div class="statboxtext">
                    <div class="statnumber">100</div>
                    <div class="stattext">Read List</div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<br />
<section id="profile_drilldown">
    <div class="userspecific col-md-3">
        <div id="profilepic" class="profilepic">

        </div>
        <div class="userpersonaldetails col-md-10">
            <div class="detailname">Education: </div>
            <div class="detailcontent">
                <ul>
                    <li>University of Jedi Training, Tatooin</li>
                    <li>Buddha School of Pshycic Training, PeaceGarden.</li>
                </ul>
            </div>
        </div>
        <div class="userpersonaldetails col-md-10">
            <div class="detailname">Work: </div>
            <div class="detailcontent">
                <ul>
                    <li>University of Jedi Training, Tatooin</li>
                    <li>Death Star, under Sith Lord.</li>
                </ul>
            </div>
        </div>
        <div class="userpersonaldetails col-md-10">
            <div class="detailname">Locations: </div>
            <div class="detailcontent">
                <ul>
                    <li>Mars, Mars</li>
                    <li>Jupiter, Jupiter</li>
                    <li>Saturn, Saturn</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="userpersonal col-md-2">
        <div class="username">
            <h2>Han Solo</h2>
        </div>
        <div class="userdesignation">
            <h5>Business Reporter</h5>
        </div>
        <div class="usertagline">
            <h5>I am a Jedi.</h5>
        </div>
        <div class="userfollowers userbuttons">
            Followers: 2.7k
        </div>
        <div class="userupvotes userbuttons">
            Upvoted: 10.7M
        </div>
        <div class="userdownvotesvotes userbuttons">
            Downvoted: 10k
        </div>
    </div>
</section>