<head>
    <link href="~/css/newsitem.css" rel="stylesheet" />
</head>

    <section id="news" class="container">
        <div class="row">
            <div id="main_news" class="col-md-8 mainnews">
                <div class="mainnewsitem">
                        <div class="midnewsitemheading"><h3>Ai Weiwei: Europe not giving refugees dignity or love</h3></div>
                        <div class="mainnewsitemimage"> </div>
                        <div class="mainnewsitemrightcontent">
                            <div class="mainnewsitemdate">13th March, 2016</div>
                            <div class="mainnewsitemtext">
                                <div id="article-body" class="article-body">
                                    <p>Chinese artist and activist Ai Weiwei has decried Europe's treatment of refugees, as he continues to document the crisis faced by millions of people fleeing war and persecution.</p>
                                    <p>Speaking to Al Jazeera from Idomeni near the Greek-Macedonia border, where some 13,000 people remain stuck in squalid conditions, Ai Weiwei said European politicians' response to the crisis is stripping refugees of their "very basic human rights".</p>
                                    <p>The makeshift camp at Idomeni has become massively overcrowded in the past few weeks as<a href="http://www.aljazeera.com/news/2016/03/macedonia-refugees-greece-160304110234381.html" target="_self"> border restrictions prevent refugees</a> from continuing their journeys from Greece to northern Europe. Conditions there are poor, amid wet, cold weather and a lack of essential supplies such as food, nappies and waterproof clothing.</p>
                                    <hr>
                                    <p><strong><a href="http://www.aljazeera.com/news/2015/12/ai-wei-wei-photos-lesbos-capture-refugee-life-151229053732453.html" target="_self">READ MORE: Ai Weiwei's photos from Lesbos capture refugee life</a></strong></p>
                                    <hr>
                                    <p>Ai Weiwei, who often uses his social media accounts to highlight social issues, has repeatedly visited the island of Lesbos since the beginning of the refugee crisis.</p>
                                    <p>He spoke to Al Jazeera's Hoda Abdel-Hamid.</p>
                                    <p><strong>Al Jazeera: What is your impression of what refugees are going through at the moment?</strong></p>
                                    <p><strong>Ai Weiwei:&nbsp;</strong>My impression is that they are completely being neglected and their very basic rights are being neglected. Refugees are not slaves - they have dignity, they are just like you and me. They come from the war, a war caused by many, many politicians for all kinds of reasons. But they are the victimised by this war. They come to Europe just for a moment of peace. I talked to many of them - they never really want to stay here [Idomeni]. &nbsp;</p>
                                    <hr>
                                    <p><strong><a href="http://www.aljazeera.com/news/2016/01/ai-weiwei-closes-denmark-exhibition-refugee-laws-160127153929884.html" target="_self">READ MORE: Ai Weiwei closes Denmark exhibition over refugee laws</a></strong></p>
                                    <hr>
                                    <p>They have to bring their children to a safe place. There are so many children running around - you understand that those people are very brave. They give up everything, they come to this land. Now in this land, every door is shut.</p>
                                    <p>Politicians use them as bargaining chips; they never really see them as human beings. Their very essential rights are being neglected, it's such a shame.</p>
                                    <p><strong><strong>Al Jazeera: Is this one of the worst refugee camps you have seen?</strong></strong></p>
                                    <p><strong><strong><strong>Ai Weiwei:&nbsp;</strong></strong></strong>I think they are equally bad. I should say from Lesbos to here, they are bad not because of the conditions, but because the hearts of the Europeans. [They are] not giving them at least a little bit of dignity and love. This is a very sad situation.&nbsp;</p>
                                    <p><strong><strong><strong>Al Jazeera: From your conversations with refugees, what are they telling you they will do next?</strong></strong></strong></p>
                                    <p><strong><strong><strong><strong>Ai Weiwei:&nbsp;</strong></strong></strong></strong>Basically they are very naive. They have to escape, they think there is some kind of future waiting for them. [From] my observation of the European talks, I think they are the ones being left out. There is no conversation to consider them as human beings. Their human rights are being so badly put down.</p>
                                    <hr>
                                    <p><strong><a href="http://www.aljazeera.com/news/2016/02/ai-weiwei-covers-berlin-venue-14000-life-jackets-160213190435403.html" target="_self">READ MORE: Ai Weiwei covers Berlin venue with 14,000 life jackets</a></strong></p>
                                    <hr>
                                    <p>If we see the situation like today, their future is really dark. I can't even tell them the door is not going to open for them. People still believe the door will open one day, the border will open one day .</p>
                                    <p><strong><strong><strong><strong>Al Jazeera: The plight of refugees has inspired you in the past. What does this camp bring to you?</strong></strong></strong></strong></p>
                                    <p><strong><strong><strong><strong><strong>Ai Weiwei:&nbsp;</strong></strong></strong></strong></strong>I think nobody should see this situation. It's so sad. Once you see this situation, you will never look at the field or the beach the same again.</p>
                                    <p>If you think [about the children who] drowned ... the past year, you just don't understand what happened.</p>
                                    <p>What happened to our humanity? What happened to our 21st century? We are living in such a privileged condition.</p>
                                    <p>As an artist, I don't know what to do. I just try to be there, document the situation. We are doing documentary films. We are trying to first study the situation and be involved, and give the world a full picture of whatever we have seen.</p>
                                </div>
                            </div>
                            <div class="upvotebar">
                                <div class="upvotebutton">
                                    <div class="upvotetext">Upvote</div><div class="upvotecount">5.5k</div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="mainnewscomments">
                    <div class=""></div>
                </div>
            </div>
            <div id="right_news" class="col-md-4 rightnews">
                <div class="rightnewsheading">
                    <h3>MORE FROM NewsFront</h3>
                </div>
                <div class="rightnewsitem">
                    <div class="rightnewsitemimage"> </div>
                    <div class="rightnewsitemheading"><h4>Backlash: France’s New Hard Line on Terror</h4></div>
                    <div class="rightnewstext">We examine France's aggressive counterterrorism measures and the consequences for the Muslim community.</div>
                    <div class="rightupvotebar">
                        <div class="rightupvotebutton">
                            <div class="rightupvotetext">Upvote</div><div class="rightupvotecount">5.5k</div>
                        </div>
                    </div>
                </div>
                <div class="rightnewsitem">
                    <div class="rightnewsitemimage"> </div>
                    <div class="rightnewsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                </div>
                <div class="rightnewsitem">
                    <div class="rightnewsitemimage"> </div>
                    <div class="rightnewsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                </div>
            </div>
        </div>
    </section>

    <div id="wrapper">
    </div>
</body>