<link href="~/css/userlayout.css" rel="stylesheet" />
<section id="profile_pic col-md-3">
    <div id="profilepic" class="profilepic">

    </div>
</section>
<section id="profile_info" class="col-md-8">

    <div id="user_details" class="userdetails ">

    </div>
</section>