@model WebUI.Entities.NewsItem

<head>
    <link href="~/lib/trix/dist/trix.css" rel="stylesheet" />
    <link href="~/css/newnews.css" rel="stylesheet" />
    <script src="~/lib/trix/dist/trix.js"></script>
</head>

<body>
    <section id="newnews">
        <div class="newnews col-md-12">
            <form action="~/News/Save" method="post">
                <textarea rows="4" cols="50" name="Heading">Your Heading</textarea>
                    <br /><br />
                    <input type="text" value="Date" name="Date" />
                    <br /><br />
                    <input id="newscontent" value="News content goes here" type="hidden" name="Body">
                    <trix-editor input="newscontent"></trix-editor>
                    <br />
                    <input type="submit" value="Save" />
</form>
        </div>
    </section>
</body>