
    <section id="news" class="container">
        <div class="row">
            <div id="left_news" class="col-md-3 leftnews">
                <div class="newsitem">
                    <div class="newsitemimage"> </div>
                    <div class="newsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                    <div class="newsitembody">
                        <p>
                            We ask former Mexican President Vicente Fox, and look at the likelihood of Donald Trump winning the US election.
                            US Election 2016, Donald Trump, Politics
                        </p>
                    </div>
                </div>
                <div class="newsitem">
                    <div class="newsitemimage"> </div>
                    <div class="newsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                    <div class="newsitembody">
                        <p>
                            We ask former Mexican President Vicente Fox, and look at the likelihood of Donald Trump winning the US election.
                            US Election 2016, Donald Trump, Politics
                        </p>
                    </div>
                </div>
                <div class="newsitem">
                    <div class="newsitemimage"> </div>
                    <div class="newsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                    <div class="newsitembody">
                        <p>
                            We ask former Mexican President Vicente Fox, and look at the likelihood of Donald Trump winning the US election.
                            US Election 2016, Donald Trump, Politics
                        </p>
                    </div>
                </div>
            </div>
            <div id="mid_news" class="col-md-7 midnews">
                <div class="midnewsitem">
                    <div class="midnewsitemimage"> </div>
                    <div class="midnewsitemrightcontent">
                        <div class="midnewsitemtext">
                            <div class="midnewsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                            <div class="midnewsitembody">
                                <p>
                                    We ask former Mexican President Vicente Fox, and look at the likelihood of Donald Trump winning the US election.
                                    US Election 2016, Donald Trump, Politics
                                </p>
                            </div>
                        </div>
                        <div class="upvotebar">
                            <div class="upvotebutton">
                                <div class="upvotetext">Upvote</div><div class="upvotecount">5.5k</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="midnewsitem">
                    <div class="midnewsitemimage"> </div>
                    <div class="midnewsitemrightcontent">
                        <div class="midnewsitemtext">
                            <div class="midnewsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                            <div class="midnewsitembody">
                                <p>
                                    We ask former Mexican President Vicente Fox, and look at the likelihood of Donald Trump winning the US election.
                                    US Election 2016, Donald Trump, Politics
                                </p>
                            </div>
                        </div>
                        <div class="upvotebar">
                            <div class="upvotebutton">
                                <div class="upvotetext">Upvote</div><div class="upvotecount">5.5k</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="midnewsitem">
                    <div class="midnewsitemimage"> </div>
                    <div class="midnewsitemrightcontent">
                        <div class="midnewsitemtext">
                            <div class="midnewsitemheading"><a href="/"><h4>Does the US lose with a President Donald Trump?</h4></a></div>
                            <div class="midnewsitembody">
                                <p>
                                    We ask former Mexican President Vicente Fox, and look at the likelihood of Donald Trump winning the US election.
                                    US Election 2016, Donald Trump, Politics
                                </p>
                            </div>
                        </div>
                        <div class="upvotebar">
                            <div class="upvotebutton">
                                <div class="upvotetext">Upvote</div><div class="upvotecount">5.5k</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right_news" class="col-md-2 rightnews">
                <div class="rightnewsitem">
                    <div class="rightnewsitemimage"> </div>
                    <div class="rightnewsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                </div>
                <div class="rightnewsitem">
                    <div class="rightnewsitemimage"> </div>
                    <div class="rightnewsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                </div>
                <div class="rightnewsitem">
                    <div class="rightnewsitemimage"> </div>
                    <div class="rightnewsitemheading"><h4>Does the US lose with a President Donald Trump?</h4></div>
                </div>
            </div>
        </div>
    </section>

    <div id="wrapper">
    </div>
